/* 스킵네비게이션 */
#skipNav {position: relative;z-index: 9999;}
#skipNav a {display: block;height: 1px;width: 1px;margin-bottom: -1px;overflow: hidden;font-size: 20px;color: #fff;font-weight: bold;background: #0097db;white-space: nowrap;text-align: center;}
#skipNav a:focus, #skipNav a:active{height:auto; width:100%; padding:5px; margin-bottom:10px; position:absolute; left:0; top:0;}

/* header */
.wrap{position: relative;min-width:  1400px;margin: 0 auto}
.wrap *{background-repeat: no-repeat;}
.c_main{color: #008659 !important;font-weight: 500;}
.c_red{color: #cc0000 !important;}
.c_red2{color: #e82100 !important;}
.swiper-button-prev, .swiper-button-next{font-size: 0;}
.not_scroll{position: fixed; overflow: hidden; width: 100%; height: 100%}
.m_on{display: none !important;}
.gnb_mask{display: none; position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8)}
#mask, .modal_cnt{display: none; position: fixed; z-index: 100}
#mask{top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8)}

/* 아이콘 */
i{display: inline-block;vertical-align: middle;}
.ico_new{width: 20px;height: 20px;background-image: url(../images/common/ico_new.png);margin: 4px 0 0px 3px;vertical-align: top; }


.top_banner{background-color: #e8e1d3;}
.top_banner .swiper-container{max-width: 1200px;}
.top_banner .swiper-slide{height: 60px;line-height: 60px;text-align: center;opacity: 0 !important;}
.top_banner .swiper-slide.swiper-slide-active{opacity: 1 !important;}
.swiper-pagination.top.swiper-pagination-bullets{text-align: left;  top: 16px;}
.swiper-pagination.top.swiper-pagination-bullets .swiper-pagination-bullet{  height: 22px;width: 13px;line-height: 22px; font-size: 12px; font-weight: 400; color: #535353; margin-left: 18px;-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;background-color: inherit;}
.swiper-pagination.top .swiper-pagination-bullet-active{border-bottom: 1px solid #a29c90; color: #403b31;}
.top_banner .close_btn_top{position: absolute;right: 0;top: 18px;z-index: 100;width: 19px;height: 19px;font-size: 0;background-image: url(../images/common/close_btn_top.png);}

/* gnb */
#header{position: fixed;left: 0;top: 0;right: 0;color: #fff;z-index: 100;}
#header.search_on{width: 100%;background-color: #fff;border-bottom: 1px solid #ccc;color: #222;}
#header .inner:after{content:""; display: block; clear: both;}
#header .inner h1{float: left;font-size: 0;margin-top: -8px;}
#header .inner h1 a{display: inline-block;background-image: url(../images/common/logo.png); width: 254px; height: 64px;}
#header .m_inner, .m_gnb{display: none;}
#header .inner #gnb{float: right;}
#header .inner #gnb:after{content:""; display: block; clear: both;}
#header .inner .gnb{font-size: 18px;float: left; }
#header .inner .gnb:after{content:""; display: block;clear: both;}
#header .inner .gnb > li{float: left;}
#header .inner .gnb > li > a{display: inline-block; outline: 0;height: 100%;font-size: 20px; line-height: 70px; height: 70px; padding: 0 20px;}
#header.on{width: 100%; background-color: #fff; border-bottom: 1px solid #ccc; color: #222;}
#header.on .inner h1 a{background-image: url(../images/common/logo02.png);}
#header.on .inner .gnb > li > a{color: #222;}
#header.on2{width: 100%; background-color: #fff; border-bottom: 1px solid #ccc; color: #222;}
#header.on2 .inner h1 a{background-image: url(../images/common/logo02.png);}
#header.on .inner .gnb > li > a{color: #222;}

#header .inner .gnb > li.on{font-weight: 500;background-color: #fff;}
#header .inner .gnb > li.on > a{color: #019664;}
#header .inner .gnb > li.on2{font-weight: 500;background-color: #fff;}
#header .inner .gnb > li.on2 > a{color: #019664;}
#header .inner .m_open{display: none;}
#header .inner .gnb li .depth2{display: none; position: absolute;border-top: 1px solid #ccc; top: 119px; left: 0;  z-index: 100; width: 100%; margin-top: 0px; background-repeat: no-repeat;background-image:url(../images/common/depth2_bg01.jpg);-webkit-background-size: 33%;background-size: 33%;background-position: 0 100%;padding: 28px 0 38px;background-color: #fff;}
#header .inner .gnb li .depth2 ul li {padding: 8px 30px;}
#header .inner .gnb li .depth2 ul li.pd_01{padding-left: 59px;}
#header .inner .gnb li .depth2 ul li.pd_02{padding-left: 12px;}
#header .inner .gnb li .depth2 ul li a{font-size: 18px;display: inline-block; color: #656565; padding-bottom: 3px;border-bottom: 1px solid #e6e6e6;}
#header .inner .gnb li .depth2 ul li a:hover, #header .inner .gnb li .depth2 ul li a:focus{color: #019664;border-color: #019664;padding-bottom: 3px;}
#header .inner .gnb li .depth2 .depth_wrap{max-width: 1200px;margin: 0 auto;}
#header .inner .gnb li .depth2 .depth_wrap:after{content:""; display: block;clear: both;}
#header .inner .gnb li .depth2 .depth_wrap .depth_tit{;display: block;float: left;width: 31.5%;font-size: 32px;}
#header .inner .gnb li .depth2 .depth_wrap .depth_tit strong{position: relative;font-weight: 500;}
#header .inner .gnb li .depth2 .depth_wrap .depth_tit strong:after{position: absolute;content:"";clear: both;display: inline-block;width: 8px;height: 8px;background-color: #019664;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;top: 0;right: -16px;}
#header .inner .gnb li .depth2 .depth_wrap ul{float: left;width: 68.5%;}
#header .inner .gnb li .depth2 .depth_wrap ul:after{content:""; display: block;clear: both;}
#header .inner .gnb li .depth2 .depth_wrap ul li{float: left;display: inline-block;}
#header .inner .side_link{float: right;height: 70px;line-height: 70px;margin-left: 50px;}
#header .inner .side_link .btn{display: inline-block;background-repeat: no-repeat;width: 27px;height: 40px;background-position: center;font-size: 0;text-indent: -9999px;}
#header .inner .side_link .search_btn{position: relative;background-image:url(../images/common/search_h_btn.png);margin-left: 25px;vertical-align: middle; }
#header .inner .side_link .line_btn{background-image:url(../images/common/burger_i.png);} 
#header.on .inner .side_link .search_btn{background-image:url(../images/common/search_h_btn_on.png);}
#header.on .inner .side_link .line_btn{background-image:url(../images/common/burger_i_on.png);}

#header.search_on .gnb > li > a{color: #222;}
#header.search_on .inner h1 a{background-image: url(../images/common/logo_on.png);}
#header.search_on .inner .side_link .search_btn{background-image:url(../images/common/search_h_btn_on.png);}
#header.search_on .inner .side_link .search_btn.on{background-image:url(../images/common/m_search_btn_on.png);-webkit-background-size: 25px;background-size: 25px;}
#header.search_on .inner .side_link .line_btn{background-image:url(../images/common/burger_i_on.png);}

#header .util_menu{text-align: right; padding-top: 24px;}
#header .util_menu .cf{display: inline-block;max-width: 1200px;margin: 0 auto;text-align: right;}
#header .util_menu .cf:after{content:""; display: block;clear: both;}
#header .util_menu .cf li{float: left;display: inline-block;font-size: 14px;}
#header .util_menu .cf li:after{content:"";display: inline-block; clear: both; width: 1px; height: 12px; background-color: #fff; margin: 0 8px;}
#header .search_on .util_menu .cf li:after{background-color: #fff;}
#header .util_menu .cf li:last-child::after{display: none;}

#header .search_wrap{display: none;background-color: #fff; padding: 58px 0 45px ; border-top: 1px solid #019664;border-bottom: 1px solid #ccc;}
#header .search_area{position: relative; max-width:  1200px;margin: 0 auto;}
#header .search_area .search_h{position: relative; overflow: hidden; max-width:  850px; height: 60px; margin: 0 auto; border-bottom:  2px solid #019664;}
#header .search_area .search_h input{border: none; height: 100%;width: 90%;font-size: 16px;}
#header .search_area .search_h span{display: inline-block; line-height: 58px; padding-left: 38px; font-size: 18px;color: #000;}
#header .search_area .search_h span:after{content:""; display: inline-block; vertical-align: middle; margin: 0 24px 2px; width: 1px; height: 13px; background-color: #e4d5d5}
#header .search_area .search_h .btn{ position: absolute; width: 35px; font-size: 0;top: 0; right:  0 ;height: 100%; background-image: url(../images/common/search_h2_btn.png);background-repeat: no-repeat;background-position: 50% 50%;-webkit-background-size: 20px;background-size: 20px;}
#header .search_area .close_btn{position: absolute; right: 0;top: 10px; font-size: 14px;color: #8b8b8b;}
#header .search_area .close_btn i{width: 12px; height: 12px; background-image:url(../images/common/search_h_close.png); vertical-align: middle; margin-left: 5px;}

.inner.change {background-color: #9d112e; width: auto; min-width: 100%; border-bottom: none;text-align: center;}
.inner.change .change_wrap{width: 1200px; margin: 0 auto;}
.inner.change .change_wrap:after{content:""; display: block; clear: both;}
.inner.change .change_tit{height: 122px; line-height: 122px; text-align: center; width: 100%; font-size: 40px; color: #fff;}
.inner.change .search_h{float: right; margin-right: 0;}
.inner.change .change_tel{display: inline-block; float: right; font-size: 35px; color: #fff; margin-top: 30px;}
.inner.change .foot_txt{text-align: center; background-color: #f5f5f5; color: #666; padding: 20px 0;}

.footer{background-color: #727272;}
.foot_top{background-color: #525252; position: relative;height: 56px;}
.foot_top .top_btn{position: absolute; top: -52px; right: -72px;z-index: 1;}
.foot_top .top_btn img{max-width: 100%;}
.foot_top .top_area{position: relative; max-width: 1200px; margin: 0 auto;}
.foot_top .top_area:after{content:""; display: block; clear: both;}
.foot_top .top_area > ul li{float: left; color: #fff; height: 56px; line-height: 56px; font-size: 18px; font-weight: 200;}
.foot_top .top_area > ul li:after{content:""; display: inline-block; clear: both; width: 1px; height: 13px; background-color: #fff; vertical-align: middle; margin: 0 28px;}
.foot_top .top_area > ul li:last-child::after{display: none;}
.foot_top .top_area > ul li .c_on{color: #f8f4df;font-weight: 500;}

.foot_top .top_area .site_box{position: absolute;  height: 100%; top: 0; right: 0; z-index: 100;padding-top: 9px;}
.foot_top .top_area .site_box .sns_link{display: inline-block;font-size: 0;width: 38px;height: 38px;margin-left: 12px;border: 1px solid #fff;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;background-position: center;}
.foot_top .top_area .site_box .sns_link.sns01{background-image:url(../images/common/foot_sns01.png); }
.foot_top .top_area .site_box .sns_link.sns02{background-image:url(../images/common/foot_sns02.png); }
.foot_top .top_area .site_box .sns_link.sns03{background-image:url(../images/common/foot_sns03.png); }

.foot_btm{max-width: 1200px; margin:  0 auto; padding: 35px 0 32px; color: #fff;}
.foot_btm:after{content:""; display: block; clear: both;}
.foot_btm .address{float: left;}
.foot_btm .address p{font-size: 16px; font-weight: 200;line-height: 1.4;}
.foot_btm .address p.c2{color: #D5D5D5; padding-top: 2px;}
.foot_btm .r_info{float: right; font-size: 14px;}
.foot_btm .r_info .txt{float: left; font-weight:400; font-family: NanumS;}
.foot_btm .r_info .txt p{letter-spacing: -0.2px;}
.foot_btm .r_info .txt .num{margin-bottom: 5px; font-weight: 400; font-size: 20px; color: #fff; letter-spacing: -1px;}
.foot_btm .r_info .txt .num em{font-size: 30px; color: #ebd179; font-weight: 500; display: inline-block; margin-left: 8px; vertical-align: middle;}
.foot_btm .r_info .mark{float: right; width: 103px; height: 61px; background-color: #ccc; margin-left: 120px;}

.foor_slide{background-color: #f6f6f6;}
.foor_slide .box{position: relative; max-width: 1200px; margin: 0 auto; padding: 20px 0;}
.foor_slide .swiper-container{margin-left:  95px;}
.foor_slide .swiper-container .swiper-slide{position: relative;text-align: center;}
.foor_slide .swiper-container .swiper-slide:focus::after{content:""; display: block; clear: both; position: absolute; top: 0; left:0; width: 100%; height: 100%; border: solid 1px #00f; outline:0;}
.foor_slide .swiper-button-prev, .foor_slide .swiper-button-next{-webkit-background-size: 24px; background-size: 24px;top: 50%;margin-top: -19px;width: 25px;height: 25px;}
.foor_slide .swiper-button-prev{background-image: url(../images/common/foot_sd_prev.png); left: 0;}
.foor_slide .swiper-button-next{background-image: url(../images/common/foot_sd_next.png); left: 30px;}
.foor_slide .span_btn{position: absolute; font-size: 0; display: inline-block; width: 24px; height: 24px;top: 35px; left: 62px;}
.foor_slide .span_btn.stop{background-image: url(../images/common/foot_sd_stop.png);}
.foor_slide .span_btn.play{background-image: url(../images/common/foot_sd_play.png);}

.foor_slide.type2 .box:after{content:""; display: block; clear: both;}
.foor_slide.type2 .box li{float: left;width: 20%;text-align: center;padding: 0 5px;}
.foor_slide.type2 .box li img{max-width: 100%;}

.modal_cnt{  margin: 0 auto; }
#modal01{width: 90%;}
.modal_cnt .md_main{position: relative;background: #fff; padding: 20px; padding: 70px 60px; }

.modal_cnt .md_main .site_md{text-align: left;overflow-y: auto;height: 600px;}
.modal_cnt .md_main .site_md:after{content:""; clear: both; display: block;}
.modal_cnt .md_main .site_md li{float: left; width: 15.2%; margin-right: 6%;}
.modal_cnt .md_main .site_md li:last-child{margin-right: 0;}
.modal_cnt .md_main .site_md li .tit{display: block; font-size: 22px; color: #019664; border-bottom: 2px solid #019664; padding-bottom: 15px;}
.modal_cnt .md_main .site_md li .link_btn{display: block; font-size: 18px; color: #4d4d4d; height: 60px; line-height: 76px; border-bottom: 1px solid #e5e5e5;}
.modal_cnt .md_main .site_md li .link_sub{display: block; color: #4d4d4d; font-size: 15px; line-height: 30px;}
.modal_cnt .md_main .site_md li .link_sub:before{content:""; display: inline-block; clear: both; width: 4px; height: 4px; background-color: #4d4d4d; vertical-align: middle; margin: 0 8px 3px 0;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.modal_cnt .md_main .site_md li .link_box .box{display: none;}
.modal_cnt .md_main .site_md li .link_box .link_btn{margin-bottom: 0px; background-repeat: no-repeat; background-image: url(../images/common/arrow_down01.png); background-position: right 5px top 70%;}
.modal_cnt .md_main .site_md li .link_box .link_btn.on{margin-bottom: 10;}

.modal_cnt .md_main .close_btn{position: absolute; top: 40px; right: 40px; display: inline-block; width: 26px; height: 26px; font-size: 0;background-image: url(../images/common/close_btn.png);}
.modal_cnt .md_main .title{font-size: 22px; color: #222; border-bottom: 3px solid #222; padding-bottom: 15px; margin-bottom: 40px;}
.modal_cnt .md_main.type2{padding: 50px 40px;}
.modal_cnt .md_main.type2 .close_btn{top: 35px;right: 40px;}

/* aside#gnb */
aside{display: none; position: fixed; top: 0; left: 0; right: 0;bottom: 0; z-index: 99;}
aside .gnb_bg{position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: -1; background-color:rgba(0,0,0,0.8);}
aside .btn.close{position: absolute; top: 12px; right: 12px; width: 40px; height: 40px; background-repeat: no-repeat; background-position: center;background-size: contain;background-image: url(../images/common/btn_close.png); font-size: 0;}

aside .gnb_content{position: absolute; top: 0; left: -500px; bottom: 0; right: auto; background-color: #fff; overflow-y: auto;}
aside .gnb_content .content_top{background-color: #4b89dc; height: 60px; padding:0 12px; font-size: 0;}
aside .gnb_content .content_top a{position: relative; display: inline-block; font-size: 20px;color: #fff; line-height: 60px; font-weight: 400; margin-left: 40px;padding-left: 40px;}
aside .gnb_content .content_top a:before{content: ''; width: 1px; height: 24px; background-color: #fff; position: absolute; left: 0;top: 50%; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
aside .gnb_content .content_top a:first-child{margin-left: 0; padding-left: 0;}
aside .gnb_content .content_top a:first-child:before{display: none;}
aside .gnb_content .gnb_list li a{display: block; height: 80px; line-height: 80px; background-color: #fff; border-bottom: 1px solid #cbccce; font-size: 22px;color: #282828;font-weight: 400;padding-left: 12px;}
aside .gnb_content .gnb_list li a.list_tit{position: relative; transition:0.3s; -webkit-transition:0.3s; }
aside .gnb_content .gnb_list li a.list_tit:after{content: ''; width: 24px; height: 100%; background-position: center center; background-repeat: no-repeat; background-image: url(../images/common/arrow_menu.png); position: absolute;top: 0;right: 12px;transition:0.3s;-webkit-transition:0.3s;}
aside .gnb_content .gnb_list li a.list_tit.on:after{transform:rotate(180deg); -webkit-transform:rotate(180deg);}
aside .gnb_content .gnb_list li.home span{padding-left: 36px; background-repeat: no-repeat; background-position:left center; background-image: url(../images/common/ico_home.png);}
aside .gnb_content .gnb_list li ul{display: none;}
aside .gnb_content .gnb_list .depth02 {background-color: #f5f5f5; border-bottom: 1px solid #cbccce; padding: 14px 0;}
aside .gnb_content .gnb_list .depth02 li a{padding-left: 22px; line-height: 60px; height: 60px; border-bottom: none; background-color: #f5f5f5;}
aside .gnb_content .gnb_list .depth02 li a.list_tit:after{width: 20px; background-size: 15px; background-image: url(../images/common/ico_add02.png);}
aside .gnb_content .gnb_list .depth02 li a.list_tit.on:after{transform:rotate(0); -webkit-transform:rotate(0);}
aside .gnb_content .gnb_list .depth03 li a{position: relative; padding-left:48px; font-size: 18px; background-color: #f5f5f5; height: 56px;  line-height: 56px; font-weight: 200;}
aside .gnb_content .gnb_list .depth03 li a:before{content: '';width: 8px;height: 2px;background-color: #494949; position: absolute; top: 50%; left: 36px; transform: translateY(-50%); -webkit-transform:translateY(-50%);}

/* 입력창 */
.input_area{position: relative;}
.input_area input{display: block;width: 100%;height: 36px;line-height: 34px;border: 1px solid #dbdbdb;padding-left: 16px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.input_area input::placeholder{font-size: 14px;font-weight: 200;color: #7e7e7e;}

/* 선택창 */
.sel_area{position: relative;}
.sel_area select{display: block;width: 100%;height: 34px;line-height: 32px; border: 1px solid #dddd; font-size: 14px;color: #666;font-weight: 400;padding-left: 20px; background-repeat: no-repeat; background-position: right 20px center; background-image: url(../images/common/arrow_down.png);-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.sel_area select::-ms-expand{display: none;}
.sel_area select:focus{border-color:#0097db;}

/* 테이블 */ 
.table_wrap{}
.table_wrap table{background-color: #fff;border-top: 2px solid #000;}
.table_wrap table th,
.table_wrap table td{border-top: 1px solid #ddd; border-left: 1px solid #dbdbdb;}
.table_wrap table tr:first-child th,
.table_wrap table tr:first-child td{}
.table_wrap table th:first-child,
.table_wrap table td:first-child{border-left-width: 0;}
.table_wrap table th{background-color: #f7f7f7; font-size: 16px; color: #282828; font-weight: 500;height: 34px;padding: 0 10px;}
.table_wrap table thead th{padding: 18px 10px;background-color: #fff;}
.text_wrap01 .table_wrap table th.bc_no{background-color: inherit;}
.table_wrap table td{position: relative; padding: 13px 18px; text-align: left; font-size: 16px; line-height: 22px; color: #282828;font-weight: 300;}
.table_wrap .table_tit{text-align: left;}
.table_wrap table td strong.db{display: block;}
.table_wrap table td strong.db span{font-weight: 500;}
.table_wrap table td strong.place{display: block; font-weight: 600;}
.table_wrap table td strong.total{display: block; font-weight: 500;}
.table_wrap table td strong.total.mt{margin-top: 15px;}
.table_wrap table td strong.red{font-weight: 500;color: #ff0000;}
.table_wrap table td ul{font-size: 0;}
.table_wrap table td ul li{position: relative;display: inline-block;vertical-align: top;font-size: 15px; margin-left: 15px;padding-left: 15px;}
.table_wrap table td ul li:before{content: '';width: 1px;height: 14px;background-color: #b5b5b5; position: absolute;top: 50%; left: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.table_wrap table td ul li:first-child{margin-left: 0;padding-left: 0;}
.table_wrap table td ul li:first-child:before{display: none;}
.table_wrap table td span.af_i:after{content:"";display: inline-block;clear: both;width: 1px;height: 14px;background-color: #b5b5b5;margin: 0 12px 2px;vertical-align: middle;}
.table_wrap table td .add_i{display: block; margin-top: 8px;}
.table_wrap table td .add_i i{width: 15px; height: 15px; background-image: url(../images/sub/add_i.png);margin: 0 8px 4px 0;}
.table_wrap table td .btn.more_btn{color: #fff;background-color: #535353;height: 26px;line-height: 26px;font-size: 16px;padding: 0 12px;font-weight: 200;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.table_wrap .info_txt{display: inline-block; height: 50px; line-height: 50px; margin-left: 3px;}
.table_wrap.type2 input, .table_wrap.type2 select{height: 50px;-webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;}
.table_wrap.type2 .btn{display: inline-block; border: 1px solid #333; color: #333; font-size: 15px; height: 50px; padding: 0 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;}
.table_wrap.bg_pink table .bg_pink{padding: 0 18px;background-color: #fdf6f3;}

.table_wrap dl {display: table; width: 100%;}
.table_wrap dl:last-child dt,
.table_wrap dl:last-child dd{border-bottom: 1px solid #dbdbdb;}
.table_wrap dl dt,
.table_wrap dl dd{display: table-cell; vertical-align: middle; border-top: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb;}
.table_wrap dl dt{width: 168px; background-color: #fff; font-size: 15px; font-weight: 300; text-align: center; background-color: #f6f6f6; border: 1px solid #dbdbdb; border-bottom-width: 0;}
.table_wrap dl dd{height: 34px; font-size: 15px; color: #282828; padding: 5px 18px; -ms-word-break: break-all; word-break: break-all;}
.table_wrap dl dd strong{color: #f47920;}
.table_wrap dl dd .all_box01{position: relative;margin-bottom: 8px;padding-left: 50px;}
.table_wrap dl dd .all_box01:after{content:""; display: block; clear: both;}
.table_wrap dl dd .all_box01 > *{float: left;}
.table_wrap dl dd .all_box01 .txt{position: absolute;line-height: 50px; display: inline-block; left: 0;top: 0;}
.table_wrap dl dd .all_box01 select{width: 72%;}
.table_wrap dl dd .all_box01 select.num{width: 16%; margin-left: 1%;}
.table_wrap dl dd .all_box01 .btn{margin-left: 1%; width: 10%; padding: 0;}
.table_wrap dl dd .all_box01 .delete_btn{display: inline-block; font-size: 0; border: none; width: 22px; height:50px; line-height: 50px; font-size: 0; background-image: url(../images/sub/delete_btn02.png);background-position: 50%;}

.table_wrap.type-dl{ border-top: 2px solid #019664;}
.table_wrap.type-dl dl dt{font-size: 17px;width: 200px;}
.table_wrap.type-dl dl dd{font-size: 17px;padding: 18px;}

.list_dl{margin-top: 20px;border-bottom: 1px solid #ddd;font-size: 15px;}
.list_dl:after{content:"";display: block;clear: both;}
.list_dl dl{display:table;width: 100%;}
.list_dl dt,
.list_dl dd{ display: table-cell; width: 50%; border: 1px solid #ddd; border-bottom-width: 0; padding: 15px 18px; font-weight: 400;}
.list_dl dt{border-right-width: 0;}
.list_dl .bg_pink{background-color: #fff8f5;padding: 8px 18px;}

/* 체크 */
.chk_area {position: relative; display: inline-block; vertical-align: top;}
.chk_area:first-child{margin-left: 0;}
.chk_area input{position: absolute; width: 1px; height: 1px; opacity: 0;}
.chk_area .chk{position: relative; display: block; font-size: 18px; font-weight: 400; padding-left: 35px; line-height: 22px; color: #484848;}
.chk_area .chk .ico_chk{position: absolute; top: 50%;left: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); display: inline-block; width: 26px;height: 26px;border: 1px solid #d5d5d5; }
.chk_area input:checked + .chk .ico_chk{ background-image: url(../images/common/ico_chk.png);background-repeat: no-repeat;background-position: center;}
.chk_area.fnz0 label{font-size: 0;padding-left: 22px;}
.chk_area.all{padding-top: 65px;text-align: center;display: block;}
.chk_area.all .chk{font-size: 24px;display: inline-block;padding-left: 56px;}
.chk_area.all .chk .ico_chk{width: 36px; height: 36px;}
.chk_area.all input:checked + .chk .ico_chk{background-image: url(../images/common/ico_chk_big.png);}
.chk_area.alone{padding-top: 22px;}
.chk_area.alone .chk{color: #222;}
.chk_area .small{font-size: 14px;}

/* 버튼 */
.btn_area{margin: 100px 0 0; text-align: center; font-size: 0;}
.btn_area .btn{width: 200px; height: 54px; line-height: 54px; margin:0 10px; font-weight: 300; background-color: #07835d ;color: #fff; font-size: 20px;}
.btn_area .btn.w260{width: 260px;}
.btn_area .btn.form02{color: #fff; background-color: #626262;}
.btn_area.m_c2{padding: 0 15px;}
.inner2 .btn_area{padding: 0;}

/* 팝업창 */
.popup_layer{position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100;}
.popup_layer .pop_bg{position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: -1; background-color: rgba(0,0,0,0.6);}
.popup_layer .pop_content{position: absolute;top: 50%;left: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 560px; margin-left: -280px;background-color: #fff;}

/* 페이징 */
.pagination{position:relative; margin-top:100px;}
.pagination{white-space: nowrap; text-align: center;font-size:0;}
.pagination a{display:inline-block; height:36px; line-height: 34px; background-color: #fff; width:36px; vertical-align:middle; text-align:center;  font-size:18px;color:#888;
font-weight:300;border: 1px solid #bfbfbf;margin:0 2px;font-size: 12px;-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;background-color: #fff;}
.pagination .on{color:#fff; background-color:#07835d; border: none;}
.pagination .prev, .pagination .next{background-repeat: no-repeat; background-position: center; font-size: 0;background-color: #f0f0f0;}
.pagination .prev{background-image: url(../images/common/p_prev.png); margin-right: 18px;}
.pagination .next{background-image: url(../images/common/p_naxt.png); margin-left: 18px;}
.pagination .prev.end{background-image: url(../images/common/p_prev_end.png); margin-right: 2px;}
.pagination .next.end{background-image: url(../images/common/p_next_end.png); margin-left: 2px;}


/* 
.paging .prev,.pagination .next{line-height:32px; overflow:hidden;position:relative; font-size:12px;text-align: left;border: none;color: #777;}
.paging .prev{background-image:url('../images/common/ico_prev.png'); background-position:left center; background-repeat:no-repeat;text-align: right;text-indent: 9999px; margin:0 24px 0 15px;}
.paging .prev:after{content: '이전';font-size: 12px;width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;text-indent: 0;}
.paging .next{background-image:url('../images/common/ico_next.png'); background-position:right center; background-repeat:no-repeat;text-indent: -9999px;margin:0 15px 0 24px;}
.paging .next:after{content: '다음';font-size: 12px;width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;text-indent: 0;}

.paging .first, .paging .last{line-height: 32px;overflow:hidden;position:relative; font-size:12px;text-align: left;border: none;color: #777;margin: 0;}
.paging .first{width: 42px;background-image:url('../images/common/ico_first.png'); background-position:left center; background-repeat:no-repeat;text-align: right;text-indent: 9999px;}
.paging .first:after{content: '처음';font-size: 12px;width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;text-indent: 0;}
.paging .last{background-image:url('../images/common/ico_last.png'); background-position:right center; background-repeat:no-repeat;text-indent: -9999px;}
.paging .last:after{content: '끝';font-size: 12px;width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;text-indent: 0;}
 */


/*****/
#header .inner{width: 1400px;margin: 0 auto;}
#header .inner h1{float: left;font-size: 0;margin-top: -30px;}
#header .inner h1 a{display: inline-block;background-image: url(../images/common/logo01.png); width: 232px; height: 84px;}
#header.on .inner h1 a{background-image: url(../images/common/logo02.png);}
#header .inner .gnb li .depth2 .depth_wrap{max-width: 1400px;margin: 0 auto; /*background-image: url(../img/menu1.png);*/}
#header .inner .gnb > li > a{display: inline-block; outline: 0; height: 100%;font-size: 20px; line-height: 70px; height: 70px; padding: 0 15px;}
#header .inner .gnb > li:last-child > a{padding-right: 0;}
/*#header .inner .gnb li .depth2 ul li a:hover, #header .inner .gnb li .depth2 ul li a:focus{color: #019664;border-color: #019664;padding-bottom: 3px;}
/*#header .inner .gnb li .depth2 .depth_wrap .depth_tit:before{content: ''; display: inline-block; width: 92px; height: 87px; background-image: url(../img/menu_bg.png);}*/
#header .inner .gnb li .depth2 .depth_wrap .depth_tit{display: block;float: left;width: 28.5%;font-size: 26px; background-image: url(../img/menu_bg.png); padding-left: 120px; position: relative;}
#header .inner .gnb li .depth2 .depth_wrap .depth_tit p{font-size: 16px; line-height: 24px; color: #444; text-align: left; margin-top: 30px;}
#header .inner .gnb li .depth2 .depth_wrap .depth_tit:after{content: ''; display: block; width: 1px; height: 100px; background-color: #d5d5d5; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
#header .util_menu .cf li{float: left;display: inline-block;font-size: 14px; line-height: 30px;}
#header .util_menu .cf li:after{content: ''; display: inline-block; width: 1px; height: 10px; background-color: #fff;}
#header.on .util_menu .cf li:after{background-color: #000;}
#header .util_menu .cf li .sns_list a{display: inline-block; width: 30px; height: 30px; border-radius: 50%;}
#header .inner .gnb li .depth2{display: none; position: absolute;border-top: 1px solid #ccc; top: 128px; left: 0;  z-index: 100; width: 100%; margin-top: 0px; background-repeat: no-repeat;background-image:url(../images/common/depth2_bg01.jpg);-webkit-background-size: 33%;background-size: 33%;background-position: 0 100%;padding: 28px 0 38px;background-color: #fff;}
#header .inner .gnb li .depth2 .depth_wrap .depth_tit strong:after{content: ''; display: none;}
#header .inner .gnb li .depth2 .depth_wrap ul{float: left;width: 68%;}

#header .inner .gnb li .depth2 ul{margin-left: 3.5%;}
#header .inner .gnb li .depth2 ul li{width: 32%; margin-right: 1%}
#header .inner .gnb li .depth2 ul li a{display: block; line-height: 48px;}
#header .inner .gnb li .depth2 ul li a:hover{color: #fff; background-color: #07835d; padding-left: 10px;}
#header .inner .gnb li .depth2 ul li a:hover:before{content: ''; display: inline-block; width: 8px; height: 8px; border-radius: 50%; background-color: #fff; vertical-align: middle; margin-right: 10px;}
#header .inner .gnb li .depth2.type02 ul li{width: 49%; margin-right: 1%; padding-top: 0;}

/*2020-08-24*/
.chk_area .chk .ico_chk.type02{width: 20px;height: 20px;border: none; }
.chk_area input:checked + .chk .ico_chk.type02{ background-image: url(../images/common/ico_chk02.png);background-repeat: no-repeat;background-position: center;}

/*2020-10-21*/
.table_wrap.color2 table tbody th{background-color: #fff; padding: 18px 10px;}
.table_wrap.color2 table td span.f14{font-size: 14px;}